html {
	font-size: 24px;
}
body {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	background-attachment: fixed;
}
/* *:active {
  outline: 4px solid rgba(255,0,0,1);
}*/

div.main {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: fit-content;
	float: left;
}

div.container {
	background-color: rgba(255,255,255,0.6);
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
}

nav {
	background-color: rgba(255, 255, 255, 0.6);
}

a.navbar-brand.active, a.nav-link.active {
	font-weight: bold;
}

li.text-item {
	margin: 1em 0;
}

.lead {
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0.5rem 0;
}


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.github span {
	background-color: #660066;
}
.google-scholar span {
	background-color: #3669C3;
}
.linkedin span {
	background-color: #0A66C2;
}

/* Icons */
.icon-button i {
	background: none;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

i.fa-github {
	color: #660066;
}
i.fa-google {
	color: #3669C3;
}
i.fa-linkedin-in {
	color: #0A66C2;
}

.icon-button .icon-github {
	color: #660066;
}
.icon-button .icon-google-scholar {
	color: #3669C3;
}
.icon-button .icon-linkedin {
	color: #0A66C2;
}

.icon-button:hover i {
	left: 50%;
	margin-left: -1.8rem;
	color: white;
}

.github:active span {
	background-color: #330033;
}
.google-scholar:active span {
	background-color: #1B3461;
}
.linkedin:active span {
	background-color: #053361;
}

.linkbutton {
	font-size: 0.8rem;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}